* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	color-scheme: light dark;
	background-color: white;
	color: hsl(0 0% 10%);
}

@media (prefers-color-scheme: dark) {
	:root {
		background-color: hsl(0 0% 9%);
		color: hsl(0 0% 95%);
	}
}

body {
	margin: 0;
	padding: 0;
	min-width: 260px;
	min-height: 300px;
	overflow: hidden;
}

#root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
